{% extends "admin/base.html" %}
{% load static %}
{% block title %}{{ title }} | SISTEMA_CENTRAL :: OMEGA{% endblock %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/omega/omega_admin.css' %}">
<link rel="stylesheet" href="{% static 'admin/omega/omega_fix.css' %}?v=5">
<link rel="stylesheet" href="{% static 'admin/omega/omega_lite.css' %}?v=1">
<style>
#nav-sidebar,.breadcrumbs{display:none!important}
#container,#main,#content,#content-main{margin-left:0!important;max-width:none!important;width:100%!important}
</style>
{% endblock %}
{% block branding %}<h1 id="site-name"><a href="{% url 'admin:index' %}">⚡ SISTEMA_CENTRAL :: OMEGA ⚡</a></h1>{% endblock %}
{% block nav-global %}{% endblock %}
{% block extrahead %}
{{ block.super }}
<script defer src="{% static 'admin/omega/omega_lite_engine.js' %}?v=1"></script>
{% endblock %}
